dev/*
.DS_Store
tmp/*
local/*
**/coverage.txt
**/coverage.html
artifacts/*
**/.vscode/*
gen/
**/testdata/*.log
**/*.msi
**/*.exe
**/*zip
**/wix
**/.vagrant
**/wix.dynamic.json
stanza-plugins/
**/plugins

