name: license
on:
  pull_request:

jobs:
  build:
    name: Scan Licenses
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Install License Scanner
        run: go install github.com/uw-labs/lichen@v0.1.7

      # License scanner requires a built binary
      - name: Build Stanza
        run: make build-all

      - name: Scan Licenses Linux
        run: lichen --config=./license.yaml "./artifacts/stanza_linux_amd64"

      - name: Scan Licenses Windows
        run: lichen --config=./license.yaml "./artifacts/stanza_windows_amd64"

      - name: Scan Licenses MacOS
        run: lichen --config=./license.yaml "./artifacts/stanza_darwin_amd64"
