name: license
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  build:
    name: Scan Licenses
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install License Scanner
        run: go install github.com/uw-labs/lichen@latest

      - name: Check out source code
        uses: actions/checkout@v1

      # License scanner requires a built binary
      - name: Build Stanza
        run: make build-all

      - name: Scan Licenses Linux
        run: lichen --config=./license.yaml "./artifacts/stanza_linux_amd64"

      - name: Scan Licenses Windows
        run: lichen --config=./license.yaml "./artifacts/stanza_windows_amd64"

      - name: Scan Licenses MacOS
        run: lichen --config=./license.yaml "./artifacts/stanza_darwin_amd64"